<div class="mainWrap" *ngIf="loaded">
  <div class="nav">
    <img src="../assets/y18.gif" alt=""> 
   <span class="logo">
     Hacker news
   </span>
    <span>      
      <a href="#">new</a>
      <a href="#">past</a>
      <a href="#">comments</a>
      <a href="#">ask</a>
      <a href="#">show</a>
      <a href="#">jobs</a>
      <a href="#">show</a>
      <a href="#" class="last">submit</a>
    </span>
  
    <span class="login">
      login
    </span>
  </div>
  <div class="content">
    <ol>
      <li *ngFor="let item of news">
        <i class="fa fa-caret-up"></i> 
        <span class="headline">{{item.title}}</span> 
        <small class="siteUrl">
          (<a href="https://news.ycombinator.com/from?site={{trim(item.url)}}">
            {{trim(item.url)}}
          </a>)
        </small> <br>
        <span class="under">
          {{item.score}} points by 
          <a href="https://news.ycombinator.com/user?id={{item.by.id}}">{{item.by.id}}</a> 
          <a href="https://news.ycombinator.com/item?id={{item.id}}">
            {{item.timeISO | amTimeAgo}}
          </a> 
          <a href="https://news.ycombinator.com/hide?id={{item.id}}&goto=news">| hide |  </a>
          <a href="https://news.ycombinator.com/item?id={{item.id}}">{{item.descendants}} comments</a>
        </span>
      </li>
    </ol>
  </div>
  <div class="footer">
    Guidelines | <a href="#">FAQ</a> | <a href="#">Support</a> | <a href="#">API</a> | <a href="#">Security</a> | <a href="#">Lists</a> | <a href="#">Bookmarklet</a> | <a href="#">Legal</a> |<a href="#"> Apply to YC</a> | <a href="#">Contact</a> <br>
    SEARCH: <input type="text">
  </div>
</div>